Source: golang-github-mdlayher-ethernet
Section: devel
Priority: optional
Maintainer: Aron Xu <happyaron.xu@gmail.com>
Build-Depends: debhelper (>= 10),
               dh-golang,
               golang-any,
               golang-github-mdlayher-ethernet-dev,
Standards-Version: 4.1.3
Homepage: https://github.com/mdlayher/ethernet
XS-Go-Import-Path: github.com/mdlayher/ethernet

Package: golang-github-mdlayher-ethernet-dev
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         golang-github-mdlayher-ethernet-dev,
Description: IEEE 802 Ethernet in golang
 Package ethernet implements marshaling and unmarshaling of
 IEEE 802.3 Ethernet II frames and IEEE 802.1Q VLAN tags. 
